:root{
    /*Fonts*/
    --main-font:'Roboto',sans-serif;
    --secondary-font:'Raleway',sans-serif;
    /*Text colors*/
    --main-txt-cl: #212121;
    --light-txt-cl:#FFFFFF;
    --accent-txt-cl:#2196F3;
    --grey-txt-cl:#757575;
        }
    /*reset*/
    .link{
        text-decoration: none;
        color: currentColor;
        list-style: none;
    }
    .list{
        list-style: none;
        text-decoration: none;
    }
.page {
    background-color: var(--light-txt-cl);
    font-family: Roboto, sans-serif;
}
.logo {
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;    
    letter-spacing: 0.03em;
    color: var(--accent-txt-cl);
}

.header {
    background-color:var(--light-txt-cl);
    border-bottom: 1px solid var(--grey-txt-cl);
}
.page-header:{
    border-bottom: 1px;
    border-bottom: solid;
    border-bottom: var(--grey-txt-cl);
}
.header-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
        
}
.header-link:hover,
.header-link:focus{
    color:var(--accent-txt-cl) ;
    cursor: pointer;
}

.hero {
    background-color:var(--main-txt-cl);
}
.hero-title {
    color:var(--light-txt-cl);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    padding: 10px 32px;
    border-radius: 6px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--light-txt-cl);
    background-color:var(--accent-txt-cl);
    cursor: pointer;
   }
.btn:hover {
    background-color: var(--accent-txt-cl);
    color: var(--light-txt-cl);
    cursor: pointer;
    /*filter:drop-shadow(0px 0 px 1 px rgba 0)*/
}

.btn:focus {
    background-color: var(--accent-txt-cl);
    color: var(--light-txt-cl);
}

.main.basic-works{
    color: var(--main-txt-cl);
}
.basic-points {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.points{
    font-size: 14px;
    line-height: 1.71;   
    letter-spacing: 0.03em;
    color:var(--grey-txt-cl);
}
.presented-works {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    margin-bottom: 50px;
    align-items: center;
}

.team{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color:var(--main-txt-cl);
        margin-bottom: 50px;
}   
.full-name{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-txt-cl)

}
.position{
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color:var(--grey-txt-cl);
        margin-top: 10px;
}
.footer{
    background-color:var(--main-txt-cl);
    color:var(--light-txt-cl);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-address-list{
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-decoration: none;
        list-style: none;
        margin-bottom: 9px;
        
}
.footer-address-list:last-child{
    margin-bottom: 0;
}
.footer-logo{
    background-color:var(--main-txt-cl);
    font-family:Raleway,sans-serif;
}
.main-buttons{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-txt-cl)
     background-color:var(--light-txt-cl);
      
}
.main-buttons:hover {
    background-color: var(--accent-txt-cl);
    color: var(--light-txt-cl);
    cursor: pointer;
    /*filter:drop-shadow(0px 0 px 1 px rgba 0)*/
}

.main-buttons:focus {
    background-color: var(--accent-txt-cl);
    color: var(--light-txt-cl);
}
    
.footer-logo-link {
    font-family: Raleway, sans-serif;
    color: var(--accent-txt-cl);
    text-decoration: none;
    font-weight:700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
}
.header-logo-link {
        font-family:Raleway,sans-serif;
        color: var(--accent-txt-cl);
        text-decoration: none;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
}
.header-logo-link-text{
    font-family:Raleway,sans-serif;
    color:var(--main-txt-cl);
}
.footer-logo-link-text {
    font-family:Raleway,sans-serif;
    color:var(--light-txt-cl);
}
.footer-address{
    font-style: normal;
    color: var(--light-txt-cl);
    margin-top: 20px;
}
.footer-address-list-item:{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--light-txt-cl);
    text-decoration: none;
    list-style: none;
}
.footer-address-item {
    color: rgba(255, 255, 255, 0.6);
}
.footer-address-item:last-child{
    margin-bottom: 0;
}

.list {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
}

.link-address {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--grey-txt-cl);
}

.link-address:hover {
    color: var(--accent-txt-cl);
    cursor: pointer;
    /*filter:drop-shadow(0px 0 px 1 px rgba 0)*/

}

.link-address:focus {
    color: var(--accent-txt-cl);
    cursor: pointer;

}

.basic-point {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: var(--main-txt-cl);
    list-style: none;
    text-decoration: none;
}

.point {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color: var(--grey-txt-cl);
    margin-bottom: 4px;
}

.list-item-link:hover {
    color: var(--main-txt-cl);
    cursor: pointer;
    /*filter:drop-shadow(0px 0 px 1 px rgba 0)*/

}

.list-item-link:focus {
    color: var(--accent-txt-cl);
    cursor: pointer;

}
/* reset */
h1,
h2
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
   
}
.container-flex{
    padding-top: 30px;
    padding-bottom: 30px;
}
.main-nav{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--grey-txt-cl);

}
.nav-main-nav {
    display: flex;
    align-items: center;
}

.list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}
.nav-list {
    list-style: none;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    }
.header-nav-link {
    display: block;
    padding-top: 52px;
    padding-bottom: 52px;
    font-weight: 800;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--main-txt-cl);
    }
.header-group {
    display: flex;
    align-items: center;
    }
.header-contact-link {
    list-style: none
    margin-right: 344px;
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 120px;
}
       
.box {
    width: 150px;
    height: 150px;
    font-size: 2em;
    color: white;
    text-align: center;
    line-height: 150px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.box:first-child {
    background-color: var(--color-1);
}

.box:nth-child(2n) {
    background-color: var(--color-2);
}

.box:nth-child(2n + 1) {
    background-color: var(--color-3);
}

.list-site-nav {
   display: flex; 
   list-style: none;
   margin-left: 93px;
}

.auth-nav-list {
    display: flex;
    margin-left: auto;
}
.auth-nav-list-item {
    margin-right: 50px;
}
.auth-nav-list-item:last-child{
        margin-right:0;
}
.list-item-link {
    display: block;
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.list-item-link:last-child{
    margin-right: 0;
}
.hero{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: auto;
    margin-right: auto;
    
}
.hero-title {
    margin-bottom: 30px;

}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.list-presents {
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    
}
.item-works {
    
}
.item-works:nth-child(3n){
    margin-right: 0;
}


.button-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 50px;
    gap: 8px;
    }
    
.button-list:last-child {
        margin-right: 0;
    }

.main-footer {
    text-align:left;
    box-sizing: border-box;
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.presents{
    padding-top: 20px;
    padding-bottom: 20px ;
    padding-left:24px; ;
    padding-right:24px ;
    border-left: 1px solid var(--light-txt-cl);
    border-right:1px solid var(--light-txt-cl);
    border-bottom: 1px solid var(--light-txt-cl);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}